<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="bi bi-person-bounding-box" style="font-size: x-large;"></i>
    </div>

    <!-- Login Form -->
    <form class="item px-4" #f="ngForm" (ngSubmit) ="f.form.valid && login(f)" >
      <input type="email" id="login" class="fadeIn second form-control mt-4" name="email" placeholder="Email" ngModel >
      <input type="password" id="password" class="fadeIn third form-control mt-2 " name="password" placeholder="password" ngModel >
      <input type="submit" title="Sign in" class="fadeIn fourth mt-3" style="cursor: pointer">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>