<div class="row col-sm-4 anyClass">
    <table class="table mx-2 mt-1" style="z-index: 100; background-color: white">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">status</th>
                <th scope="col">assigned_to</th>
                <th scope="col">ir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of listJobs; let i= index">
                <th>{{job.id}}</th>
                <td>{{job.title}}</td>
                <td>{{job.status}}</td>
                <td>{{job.assigned_to}}</td>
                <td class="ui-button-edit-table">
                    <button class="btn btn-danger" type="button" pButton icon="fa fa-pencil"
                        (click)="fly(job)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>